<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vPhrase SendMail</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block style %}
    {% endblock style %}
</head>
<body>
<div class="jumbotron text-center">
    <h1>Send Mail</h1>
    {% if user.is_authenticated %}
        <P>
            <a href="{% url 'logout' %}" id="logout_link">
                <button type="submit" class="btn btn-default" style="background-color: #00bda0; color: #fff">
                    Log Out
                </button>
            </a>
        </P>
    {% else %}
        <P>
            <a href="{% url 'login' %}" id="login_link">
                <button type="submit" class="btn btn-default" style="background-color: #00bda0; color: #fff">
                    Log In
                </button>
            </a>
        </P>
    {% endif %}
</div>
{% block content %}
{% endblock %}
</body>
</html>